<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<h2>Below the users are sorted by last name </h2>
<h2>And their unaccomplished items are ranked higher </h2>
<h2>There are 10 users for this system and 200 total ToDos </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://jsonplaceholder.typicode.com/todos">List of To Do's</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://jsonplaceholder.typicode.com/users">List of Users</a></h2>
  </li>
</ul>
<app-users></app-users>
